@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Change password</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <table>
                <tr>
                    <td>
                        User:
                    </td>
                    <td>
                        <input type="text" name="user" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Current password:
                    </td>
                    <td>
                        <input type="password" name="oldPass" />
                    </td>
                </tr>
                <tr>
                    <td>
                        New password:
                    </td>
                    <td>
                        <input type="password" name="newPass" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Repeat new password:
                    </td>
                    <td>
                        <input type="password" name="newPassCheck" />
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <input type="submit" value="Change password" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>