<div class="jumbotron">
    <h1>Success :)</h1>
    <p class="lead">Your password has been changed! Remember that the password change may take up to 10 minutes to propagate across servers.</p>
</div>
